<h3>
  <ul>
      <li>Baby's name is: @Model.GetBabyName()</li>
      <li>The age is: @Model.GetBabyAge()</li>
      <li>Parent's information: @Model.GetBabyParent()</li>
    </ul>
</h3>
<a href="/babies/new">Add a new baby</a>
<a href="/babies">View baby list</a>
