<h1>Baby register page</h1>
<ul>
    @foreach(var baby in Model)
    {
    <li>@baby.GetBabyName()</li>
    @*<li>@baby.GetBabyAge()</li>
    <li>@baby.GetBabyParent()</li>*@
    }
</ul>
<form action="babies/delete" method="post">
  <button type="submit" name="button">Clear all items</button>
</form>
<a href="/babies/new">Add a new baby</a>
