<h1>Baby register page</h1>
<ul>
    @foreach(var baby in Model)
    {
      <li><a href="/babies/@baby.GetId()">@baby.GetBabyName()</a></li>
    }
</ul>

<form action="babies/delete" method="post">
  <button type="submit" name="button">Clear all items</button>
</form>
<a href="/babies/new">Add a new baby</a>
