<h1>Baby register page</h1>
<ul>
    @foreach(var baby in Model)
    {
    <li>@baby.GetBabyName()</li>
    @*<li>@baby.GetBabyAge()</li>
    <li>@baby.GetBabyParent()</li>*@
    }
</ul>
<a href="/babies/new">Add a new baby</a>
